
@{
    ViewData["Title"] = "Contacto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="estiloH1"> Contacto Asesor Nikken </h1>

<section class="estiloSection">

    <div class="contenedor100">
        <h3 class="estiloH1"> PIDE TU ASESORIA SIN COSTO</h3>

        <div class="contenedorTxtPrincipal">
            <p class="estiloTextos">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit ullam fugiat nihil reiciendis vel
                eaque.
                Doloremque eligendi officia quod odio laboriosam perferendis rem commodi maxime vel quos, sequi, qui
                expedita.
            </p>
            <br>
            <p class="estiloTextos">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit ullam fugiat nihil reiciendis vel
                eaque.
                Doloremque eligendi officia quod odio laboriosam perferendis rem commodi maxime vel quos, sequi, qui
                expedita.
            </p>
        </div>
    </div>

</section>

