
@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="estiloH1"> Bienvenido a NIKKEN Colombia</h1>

<section class="estiloSection">

    <div class="contenedor30">

        <div class="contenedorImgPrincipal">
            <img class="ImgPrincipal" src="~/images/270.jpg" alt="">
        </div>
    </div>

    <div class="contenedor30">
        <div class="contenedorTxtPrincipal">
            <p class="estiloTextos">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit ullam fugiat nihil reiciendis
                vel
                eaque.
                Doloremque eligendi officia quod odio laboriosam perferendis rem commodi maxime vel quos, sequi,
                qui
                expedita.
            </p>
            <br>
            <p class="estiloTextos">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit ullam fugiat nihil reiciendis
                vel
                eaque.
                Doloremque eligendi officia quod odio laboriosam perferendis rem commodi maxime vel quos, sequi,
                qui
                expedita.
            </p>
        </div>
    </div>
</section>

