
@{
    ViewData["Title"] = "OficinaVirtual";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="estiloH1"> Oficina Virtual </h1>
<h2 class="estiloH1">Bienvenido @User.Identity.Name</h2>
<section class="estiloSection">
    
        <div class="contenedorProducto">
        <div class="contenedorProductos">
            <div class="contenedor40">
                <div class="contenedorImgPrincipal">
                    <img class="ImgPrincipal" src="~/images/logo_tv_cuadrado.png" alt="">
                </div>
            </div>
            <div class="contenedor70">
                <div class="contenedorTxtPrincipal">
                    <h3 class="estiloH1"> Tienda Virtual </h3>
                </div>
            </div>

            <div class="contenedor40">
                <div class="contenedorImgPrincipal">
                    <img class="ImgPrincipal" src="~/images/pngtree-hand-drawn-cartoon-truck-delivery-service-elements-png-image_2382282.jpg" alt="">
                </div>
            </div>
            <div class="contenedor70">
                <div class="contenedorTxtPrincipal">
                    <h3 class="estiloH1"> Sugue tu Pedido </h3>
                </div>
            </div>
        </div>

        <div class="contenedorProductos">
            <div class="contenedor40">
                <div class="contenedorImgPrincipal">
                    <img class="ImgPrincipal" src="~/images/world-png.png" alt="">
                </div>
            </div>
            <div class="contenedor70">
                <div class="contenedorTxtPrincipal">
                    <h3 class="estiloH1"> Tu Negocio </h3>
                </div>
            </div>

            <div class="contenedor40">
                <div class="contenedorImgPrincipal">
                    <img class="ImgPrincipal" src="~/images/20150826171604negocios_recnologia_768x.jpg" alt="">
                </div>
            </div>
            <div class="contenedor70">
                <div class="contenedorTxtPrincipal">
                    <h3 class="estiloH1"> Tus Ganancias </h3>
                </div>
            </div>
        </div>
    </div>

</section>

