<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AppWeb588</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/misEstilos.css" />

</head>

<body class="estiloBody">
    <header class="estiloHeader">
        <!--CODIGO DEL ENCABEZADO-->
        <nav>

            <ul class="estiloUl">
                <div class="contenedorLogo">
                    <img class="imgLogo" src="~/images/logo-influencer-bienestar-nikken.png" alt="">
                </div>

                <li class="estiloLi"> <a class="estiloLink" asp-controller="Inicio" asp-action="Index"> Inicio </a></li>
                <li class="estiloLi"> <a class="estiloLink" asp-controller="Inicio" asp-action="Nosotros"> Quienes Somos </a></li>
                <li class="estiloLi"> <a class="estiloLink" asp-controller="Inicio" asp-action="Productos"> Nuestros Productos </a></li>
                <li class="estiloLi"> <a class="estiloLink" asp-controller="Inicio" asp-action="Contacto"> Contacto </a></li>
                <!--<li class="estiloLi"> <a class="estiloLink" asp-controller="Inicio" asp-action="OficinaVirtual"> Oficina Virtual </a></li>-->
                <!--se usa para autorizar una vista-->
                @if (!User.Identity.IsAuthenticated)
                {
                    <li class="estiloLi"> <a class="estiloLink" asp-controller="Inicio" asp-action="OficinaVirtual"> Inicie Sesión </a></li>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="estiloLi"> <a class="estiloLink" asp-controller="Cliente" asp-action="Index"> Ver Clientes </a></li>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="estiloLi"><a class="estiloLink" asp-controller="Inicio" asp-action="Logout">Cerrar Sesión</a></li>
                }

            </ul>
        </nav>
        
        <!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Inicio" asp-action="Index"> Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Inicio" asp-action="Nosotros">Quienes Somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Inicio" asp-action="Productos">Nuestros Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Inicio" asp-action="Contacto">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Cliente" asp-action="Index">Ver Clientes</a>
                    </li>
                </ul>
            </div>
        </nav>-->
    </header>
    <main class="estiloMain">

        @RenderBody()
    </main>


    <footer class="estiloFooter">
        <!--CODIGO DEL PIE-->
        <p class="estiloTextFooter"> By: Johanna García </p>
        <div class="contenedorInfluencer">
            <img class="imgIco" src="~/images/logo Nikken2.png" alt="">
            <small class="estiloTextFooter"> COD NIKKEN Colombia 16541703</small>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
